$xxxl: 1920px;
$xxl: 1598px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 575px;


$grid-breakpoints: (
  xs: 0,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
);